.maintitle{
  margin-left: 20px;
  font-size: 1em;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}

.lateststitle{
  font-size: 1.2em;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}

.latestcontainer{
  margin-left: 30px;
  width: 100%;
  margin-bottom: 30px;
  width: fit-content;
}

.linklatest {
  text-decoration-style: wavy;
  text-decoration-color: red;
}

.maincontainer{
  margin-left: 30px;
  width: 30%;
  margin-bottom: 30px;
  background-color: hsl(0, 0%, 100%, 0.8);
  border: solid black 2px;
  border-radius: 20px;
  padding: 5px 25px ;
  width: fit-content;
}

.schedulecontainer{
  margin-left: 30px;
  width: 60%;
  margin-bottom: 30px;
  background-color: hsl(0, 0%, 100%, 0.8);
  border: solid black 2px;
  border-radius: 20px;
  padding: 5px 25px ;
  width: fit-content;
}
