
.teamscontainer {
  margin-left: 30px;
  width: 30%;
  margin-bottom: 30px;
  background-color: hsl(0, 0%, 100%, 0.8);
  border: solid black 2px;
  border-radius: 20px;
  padding: 5px 25px ;
}

.teamstitle{
  font-size: 1em;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
