.f1title {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}

.navlink {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.btnnavbar {
  align-content: center;
  margin: 10px;
  background-color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 30px;
  float: none;
  display: inline-block;
}

.btnnavbar:hover {
  background-color: hsl(0, 100%, 50%, 0.7);
}

.navbar{
  width: fit-content; /* Adjust width as needed */
  margin: 0 auto;
  text-align: center;
}
